$pc-s:760px;
$pc-m:1020px;
$pc-l:1200px;
$pc-max:1400px;



//pc-s
 @mixin pc-s() {
    @media all and (min-width: $pc-s) {
        @content;
    }
}
//pc-m
 @mixin pc-m() {
    @media all and (min-width:$pc-m) {
        @content;
    }
}
//pc-l
 @mixin pc-l() {
    @media all and (min-width: $pc-l) {
        @content;
    }
}
//pc-max
@mixin pc-max() {
    @media all and (min-width: $pc-max) {
        @content;
    }
}


@mixin RWD-font-size($s,$m,$l){
    @include pc-s {
        font-size: $s;
    }
    @include pc-m {
        font-size: $m;
    }
    @include pc-l {
        font-size: $l;
    }
}